/* src/components/IconGrid/styles.module.css */
.iconGrid {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* Creates a 10-column grid */
    grid-template-rows: repeat(3, 1fr); /* Creates 3 rows */
    gap: 5px; /* Increased gap for fixed spacing */
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    width: auto; /* Adjust based on your preference */
    max-width: 95%; /* Ensure it doesn't stretch too much */
    padding: 5px; /* Padding around the grid */
}

.iconCell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconCell img {
    width: auto; /* Allows the image to scale based on height */
    max-width: 32px; /* Adjusts the maximum width of icons */
    height: 32px; /* Adjusts the height of icons */
    box-shadow: black;
    border: 2px solid black; /* Black border */
    border-radius: 3px; /* Rounded corners */
    transition: transform 0.1s ease, box-shadow 0.1s ease; /* Faster animation */

    /*box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5); !* Adjusted to cast a shadow *!*/
    cursor: pointer; /* Indicates the icon is clickable */
}

.iconCell img.clicked {
    transition: transform 0.1s ease, box-shadow 0.1s ease; /* Faster animation */
    transform: scale(0.9) ; /* Simulates the button being pressed down */
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5); /* Adjusted for clicked state */
}

.iconCell img:hover {
    /*transform: scale(1.1); !* Optional: zoom effect on hover *!*/
}

/* Media query to hide the icon grid on mobile devices */
@media (max-width: 540px) {
    .iconGrid {
        display: none;
    }
}